## 자료형
- 숫자
- 문자열
- 리스트
- 딕셔너리
- 튜플
- 집합

In [6]:
a = 120
b = 40
a
b
print(a)
print(b)

120
40

In [22]:
str1="string1"
str2='string2'

In [23]:
str3="
이렇게는 오류가 나
"

SyntaxError: EOL while scanning string literal (<ipython-input-23-552c68344c75>, line 1)

In [26]:
str3 = """
document string은 이렇게"""

In [27]:
print(str1, str2, str3)

string1 string2
document string은 이렇게

In [29]:
str1 + str2 + str3

'string1string2\ndocument string은 이렇게'

In [32]:
print("="*20)
print("???")
print("="*20)

====================
???
====================

In [34]:
len(str1)

7

In [39]:
print(str1+str2)
print((str1+str2)[3:7])
temp = str1+str2
print(temp[3]+temp[4]+temp[5]+temp[6])

string1string2
ing1
ing1

In [44]:
temp[-11]+temp[-10]+temp[-9]+temp[-8]

'ing1'

In [46]:
test = "20200902good"
year = test[:4]
date = test[4:8]
condition = test[8:]
print(year)
print(date)
print(condition)

2020
0902
good

In [47]:
test[5] = "7"

TypeError: 'str' object does not support item assignment

In [51]:
test[:5] + "7" + test[6:]

'20200702good'

In [52]:
## 문자열 포매팅
"I eat %d apples."%3 # digit

'I eat 3 apples.'

In [53]:
"I eat 3 %s."%"apples" # string

'I eat 3 apples.'

In [54]:
num=4
"I eat %d apples."%num

'I eat 4 apples.'

In [55]:
num=4
fruit="apples"
"I eat %d %s."%(num,fruit)

'I eat 4 apples.'

In [57]:
print("probability is %d%%"%99)

probability is 99%

In [58]:
# %s : 문자열(string)
# %c : 문자 1개(character)
# %d : 정수(integer)
# %f : 부동 소수(floating-point)

In [59]:
## 문자열 정렬 및 공백

In [62]:
t = "%10s" % "hi"
t

'        hi'

In [68]:
"%.4f" % 3.141592

'3.1416'

In [67]:
"%10.4f"%3.141592

'    3.1416'

In [ ]:
## format()을 이용한 포매팅

In [71]:
"I eat {} apples.".format(3)

'I eat 3 apples.'

In [80]:
"I eat {} {}.".format(3,"apples")

'I eat 3 apples.'

In [84]:
"I eat {num} {fruit}.".format(fruit="apples", num=3)

'I eat 3 apples.'

In [83]:
"I eat {1} {0}.".format("apples",3)

'I eat 3 apples.'

In [ ]:
## 정렬

In [85]:
"{0:<10}".format("hi")

'hi        '

In [86]:
"{0:>10}".format("hi")

'        hi'

In [87]:
"{0:^10}".format("hi")

'    hi    '

In [ ]:
## 공백 채우기

In [89]:
"{0:=^10}".format("hi")

'====hi===='

In [90]:
"{0:!<10}".format("hi")

'hi!!!!!!!!'

---

## 리스트 자료형

In [91]:
odd = [1,3,5,7,9]

In [108]:
a = [1,2,"a"]
a

[1, 2, 'a']

In [151]:
a = []
a.extend([1,2,"a"])
a

[1, 2, 'a']

In [152]:
a.extend([4,5])
a.pop()
a

[1, 2, 'a', 4]

In [153]:
a.extend([5,[6,7,8]])
a

[1, 2, 'a', 4, 5, [6, 7, 8]]

In [154]:
a.append(9)
a

[1, 2, 'a', 4, 5, [6, 7, 8], 9]

In [155]:
a.append([10,11])
a

[1, 2, 'a', 4, 5, [6, 7, 8], 9, [10, 11]]

In [156]:
## 얕은복사 vs 깊은복사

In [157]:
b = a.copy()
b

[1, 2, 'a', 4, 5, [6, 7, 8], 9, [10, 11]]

In [158]:
c = a
c

[1, 2, 'a', 4, 5, [6, 7, 8], 9, [10, 11]]

In [159]:
# 주소 확인
print(id(a))
print(id(b))
print(id(c)) # a와 같은 것을 참조

2027515208064
2027515245568
2027515208064

In [160]:
b.append("bb")
c.append("ccc")
a

[1, 2, 'a', 4, 5, [6, 7, 8], 9, [10, 11], 'ccc']

In [161]:
c.append([[12,[13,14,15],[16,17]]])
a

[1,
 2,
 'a',
 4,
 5,
 [6, 7, 8],
 9,
 [10, 11],
 'ccc',
 [[12, [13, 14, 15], [16, 17]]]]

In [162]:
a[-1][0][1][2]

15

In [163]:
a[0:2]

[1, 2]

In [164]:
c.insert(1,2)
a

[1,
 2,
 2,
 'a',
 4,
 5,
 [6, 7, 8],
 9,
 [10, 11],
 'ccc',
 [[12, [13, 14, 15], [16, 17]]]]

In [165]:
## 리스트 연산 - > 문자열형과 동일
## 행렬, 배열 계산은 numpy 사용

In [166]:
c[2]=3
a

[1,
 2,
 3,
 'a',
 4,
 5,
 [6, 7, 8],
 9,
 [10, 11],
 'ccc',
 [[12, [13, 14, 15], [16, 17]]]]

In [167]:
del c[3:]
a

[1, 2, 3]

In [178]:
a = [1,4,3,2]

In [179]:
a.sort()
a

[1, 2, 3, 4]

In [180]:
a.reverse()
a

[4, 3, 2, 1]

In [181]:
a.remove(1) # 값 제거
a

[4, 3, 2]

In [182]:
a.pop(1) # 인덱스로 제거
a

[4, 2]

In [184]:
a = [1,1,1,0,1,0,0,1,1,1]

In [185]:
a.count(0), a.count(1)

(3, 7)

---

## 튜플 자료형

In [188]:
# 1개의 값을 입력할 때에는 , 찍기
t1 = (1,)
type(t1)

tuple

In [189]:
i1 = (1)
type(i1)

int

In [191]:
# 내용 수정 불가
t2 = (1,2,3)
t2[2] = 4

TypeError: 'tuple' object does not support item assignment

In [193]:
t3 = 1,2,3
type(t3)

tuple

In [194]:
t1 + t2 + t3

(1, 1, 2, 3, 1, 2, 3)

In [195]:
t2*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

---

## 딕셔너리 자료형

In [196]:
dic = {'name':'miro',
      'phone':'01012345678',
      'birth':'0101'}
dic

{'name': 'miro', 'phone': '01012345678', 'birth': '0101'}

In [197]:
a = {1:'hi'}
a

{1: 'hi'}

In [198]:
a = {'a':[1,2,3]}
a

{'a': [1, 2, 3]}

In [199]:
c = {1:('a','b')}
c

{1: ('a', 'b')}

In [200]:
a[2] = 'b'
a

{'a': [1, 2, 3], 2: 'b'}

In [201]:
a['c']=[4,5,6]
a

{'a': [1, 2, 3], 2: 'b', 'c': [4, 5, 6]}

In [203]:
# 인덱스로 접근할 수 없음, 키값을 찾아야 함
a[0]

KeyError: 0

In [204]:
dic.keys()

dict_keys(['name', 'phone', 'birth'])

In [205]:
for k in dic.keys():
    print(k)

name
phone
birth

In [208]:
d = list(dic.keys())
d

['name', 'phone', 'birth']

In [209]:
dic.items()

dict_items([('name', 'miro'), ('phone', '01012345678'), ('birth', '0101')])

In [210]:
# dic.clear()

In [211]:
dic.get('name')

'miro'

In [212]:
'name' in dic

True

---

## 집합 자료형

In [226]:
s1 = set([1,2,3])
s2 = set("Hello")
s1, s2

({1, 2, 3}, {'H', 'e', 'l', 'o'})

#### 특징
- 중복 X
- unordered : 인덱싱으로 접근 불가

In [227]:
s1 = set("Marshmellow")
s2 = set("Hello")

In [228]:
s1 & s2 # s1.intersection(s2)

{'e', 'l', 'o'}

In [229]:
s1 | s2 # s1.union(s2)

{'H', 'M', 'a', 'e', 'h', 'l', 'm', 'o', 'r', 's', 'w'}

In [230]:
s1 - s2 # s1.difference(s2)

{'M', 'a', 'h', 'm', 'r', 's', 'w'}

In [232]:
s1 = set([1,2,3])
s1.add(4)
s1

{1, 2, 3, 4}

---

### 기타 문자열 적용에 유용한 메서드

In [241]:
test_str = '    hp010-0000-1111ph  '

In [242]:
test_str1 = test_str.strip()
test_str1

'hp010-0000-1111ph'

In [243]:
test_str2 = test_str1.replace('hp','')
test_str2

'010-0000-1111ph'

In [245]:
test_str3 = test_str1.split('-')
test_str3

['hp010', '0000', '1111ph']

---

### 연습

In [261]:
# 1.
a = "a:b:c:d"
a.replace(":","#")

'a#b#c#d'

In [262]:
# 2.
a = [1,3,5,4,2]
a.sort()
a.reverse()
a

[5, 4, 3, 2, 1]

In [266]:
# 3.
a = ['This','is','awesome']
a[0]+" "+a[1]+" "+a[2]

'This is awesome'

In [268]:
# 4.
a={'A':90, 'B':80, 'C':70}
a.pop('B')

80

In [272]:
# 5.
a=[1,1,1,2,2,3,3,3,4,4,5]
a = list(set(a))
a

[1, 2, 3, 4, 5]

---

## 조건문

In [278]:
money = 2000
card = True

if (money >= 3000 or card): 
    print("택시")
else: 
    print("걸어가")

택시

In [279]:
'a' in [1,'a','b']

True

In [280]:
't' in "python"

True

In [282]:
score = 50
message = "success" if score >=60 else "failure"
message

'failure'

---

## 반복문

In [292]:
coffee = 10
money = 100000
while money :
    if coffee <= 0:
        print("커피가 다 떨어졌습니다. 판매를 중지합니다.")
        break
    coffee -= 1
    print("돈을 받았으니 커피를 줍니다. \n남은 커피의 양은 %d개입니다."%coffee)

돈을 받았으니 커피를 줍니다.
남은 커피의 양은 9개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 8개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 7개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 6개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 5개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 4개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 3개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 2개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 1개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 0개입니다.
커피가 다 떨어졌습니다. 판매를 중지합니다.

In [294]:
# print odd number only
a = 0
while a < 10:
    a += 1
    if a%2 ==0 :
        continue
    print(a)

1
3
5
7
9

In [296]:
sum = 0
for i in range(10):
    sum += i
sum

45

In [304]:
a = []
for i in range(1,5):
    a.append(i)
a

[1, 2, 3, 4]

---

## enumerate

In [307]:
p = ['money', 'card']
enumerate(p)

In [308]:
for idx, value in enumerate(p):
    print(idx, value)

0 money
1 card

---
구구단

In [323]:
for i in range(2,10):
    print("{0:=^9}".format(" %d 단 "%i))
    for j in range(1,10):
        print("{} * {} = {}".format(i,j,i*j))
    print()

== 2 단 ==
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

== 3 단 ==
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

== 4 단 ==
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

== 5 단 ==
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

== 6 단 ==
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

== 7 단 ==
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

== 8 단 ==
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

== 9 단 ==
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

---
리스트 내포

In [325]:
a = [1,2,3,4]
result = [num*3 for num in a]
result

[3, 6, 9, 12]

In [326]:
a = [1,2,3,4]
result = [num*3 for num in a if num>=2]
result

[6, 9, 12]

---
## UDF : User Defined Function

In [333]:
def add(a,b):
    result = a + b
    return result
a = add(3,4)
a

7

In [334]:
# return 없음
def adding(a,b):
    print("%d, %d의 합은 %d입니다."%(a,b,a+b))
b = adding(5,6)

5, 6의 합은 11입니다.

In [338]:
# 입력받을 값 개수 미정
def add_many(*args):
    result = 0
    for i in args:
        result = result + i
    return result


add_many(1,5,4,47,1000)

1057

In [340]:
# return 여러 개
def add_and_mul(a,b):
    return a+b, a*b
add_and_mul(3,4)

(7, 12)

---

In [3]:
# 1~1000 범위의 3의 배수의 합
res = 0
for i in range(1,1000+1):
    if i%3 == 0:
        res += i
res

166833

In [5]:
import numpy as np
res1 = [value % 3 == 0 for value in range(1,1001)]

print(np.unique(res1))
print(np.bincount(res1))

[False  True]
[667 333]

In [6]:
res2 = res1.copy()
res2[0] = False

np.unique(res2)
print(np.bincount(res2))

[667 333]

In [346]:
def star1(n):
    for i in range(1,n+1):
        print("*"*i)
star1(5)

*
**
***
****
*****

In [351]:
def star2(n):
    for i in range(1,n+1):
        print(" "*(n-i),"*"*i,sep="")
star2(5)

    *
   **
  ***
 ****
*****

In [353]:
def star3(n):
    for i in range(n):
        print(" "*i,"*"*(2*n-2*i-1)," "*i,sep="")
star3(5)

*********
 *******
  *****
   ***
    *

In [22]:
def star33(n=5):
    N = 2*n -1
    for i in range(n):
        print('{:^9s}'.format('*'*(N-2*i)))
star33()

*********
 *******
  *****
   ***
    *

In [18]:
def star4(n):
    N = 2*n - 1
    for i in range(n-1, 0, -1):
        print(" "*i,"*"*(N-2*i)," "*i,sep="")
    for i in range(n):
        print(" "*i,"*"*(N-2*i)," "*i,sep="")
star4(5)

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [363]:
for i in range(1,100+1):
    if i%7 == 0:
        print(i,end=" ")

7 14 21 28 35 42 49 56 63 70 77 84 91 98

In [365]:
mid_A = [70,60,55,75,95,90,80,80,85,100]
avg = 0
for i in range(len(mid_A)):
    avg += mid_A[i]
avg /= len(mid_A)
avg

79.0

In [366]:
numbers = [1,2,3,4,5]
result = [n*2 for n in numbers if n%2==1]
result

[2, 6, 10]